*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
    color: white;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, rgb(165, 139, 25), orange);
}

.container{
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    max-width: 500px;
    min-width: 400px;
    min-height: 50vh;
}
.mini-container{
    width:40%;
    display: flex;
    margin: 10px;
}

.input-item{
    font-size: 1.5rem;
    display: flex;
    flex-grow: 1;
    padding: 5px;
}
.add-button{
    font-size: 1.5rem;
    padding: 0px 10px;

}
 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
button:hover{
    color:white;
    background-color: rgb(165, 139, 25);
}

.list-item{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width:330px;
    background-color: white;
}
.list-item,p{
    font-size: 1.2rem;
    display: flex;
    flex-grow: 1;
}
.list-item,button{
    padding: 0px 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}
